﻿@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/colorpicker")
@Styles.Render("~/Content/jqueryui")

@if(ViewBag.drawId > 0) { 
    <input type="hidden" id="drawId" value="@ViewBag.drawId" />
}

<div class="wrap">
    <div class="tools"></div>
</div>

    <div class="container">
            <div class="canv">
                <canvas id="canvM" width="800" height="800"></canvas>
                <canvas id="canvS" width="800" height="800"
                     data-bind=" 
                        event{
                            mousemove : Shape.OnMove,
                            mouseup: Shape.OnUp,
                            mousedown: Shape.OnDown
                     }">

                </canvas>
            </div>

            <div class="properties">

                <div class="prop" id="shapeType"  data-bind="visible: isVisible">
                    Filled shape
                    <input type="checkbox" name="shapeType" id="shapeTypeChBx" data-bind="checked: cxtDescr"/>
                </div>

                <div class="prop" id="cxtDescr" data-bind="visible: cxtDescr" >
                    Type of fill<br />
                    <input type="radio"  value="fill" data-bind="click: ChooseCxt, checked: cxtChosen" /><label>Fill</label><br />
                    <input type="radio"  value="both" data-bind="click: ChooseCxt, checked: cxtChosen" /><label>Both</label><br />
                </div>

                <div class="prop" id="strokeOpts" data-bind="visible: strokeCxtIsVisible">
                    Stroke options 
                    <button id="strOptExpander" data-bind="click:StrokeExpandOptions" class="dlgButton" >...</button><br />
                    <div style="display:none; ">
                        <div>
                            <label>Line width</label>
                             <input type="number" data-bind="value:ChageStrokeLineWidth" id="lineWidth" min="1"  value="1" step="1" />
                        </div>
                        <div>
                            <label >Color</label>
                             <input type="button" id="stroke" style="width:20px; float:right; height:20px;"/>
                        </div>
                        <div>
                            <label >Gradient</label> <input type="button" id="strokeGrad"  /> 
                        </div>
                        <div>
                            <label >Pattern</label> <input type="button" id="strokePatt" />
                        </div>

                    </div>
                </div>

                <div class="prop" id="fillOpts" data-bind="visible: fillCxtIsVisible">
                    Fill options 
                    <button id="fllOptExpander" data-bind="click:FillExpandOptions" class="dlgButton" >...</button>
                    <div style="display:none">
                        <div>
                            <label >Color</label> <input type="button" id="fill" style="width:20px; height:20px;"/>                      </div>
                        <div>
                            <label >Gradient</label> <input type="button" id="fillGrad"  /> 
                        </div>
                        <div>
                             <label >Pattern</label> <input type="button" id="fillPatt" />
                        </div>
                    </div>
                </div>
            </div>

            <div id="dialog" title="Gradient">
                <div>
                    <canvas id="expl" width="150" height="100"></canvas>
                </div>
                <div class="addButt">
                    <button>Add point</button>
                </div>
                <div class="points">
                    <div class="point" #id="1">
                        <input type="number" value = "0" min=0 max=1 step=0.1 />
                    </div>
                </div>
            </div>
        </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/colorpicker")

    @Scripts.Render("~/bundles/knockout")

    <script data-main="/Scripts/MyScripts/Buttons" src="/Scripts/MyScripts/require.js"></script>