﻿@model ShapeDrawer.Models.LoginUserModel

@{
    ViewBag.Title = "Login";
}


 @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "navbar-form navbar-left"}))
 {
     <div class="form-group">

        @Html.ValidationSummary(true)
    
         @if (ViewBag.Msg != null)
         {
            <h4>@ViewBag.Msg</h4>
         }
            @Html.AntiForgeryToken()
            <fieldset>
                <legend>Login</legend>
    
                <div class="editor-label">
                    @Html.LabelFor(model => model.Login)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Login)
                    @Html.ValidationMessageFor(model => model.Login)
                </div>
    
                <div class="editor-label">
                    @Html.LabelFor(model => model.Password)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
    
                <div class="editor-label">
                    @Html.LabelFor(model => model.RememberMe)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.RememberMe)
                    @Html.ValidationMessageFor(model => model.RememberMe)
                </div>
    
                <p>
                    <input type="submit" value="Login"  class="btn btn-default" />
                </p>

          

            </fieldset>
         </div>
 }