﻿@model ShapeDrawer.Models.RegisterUserModel

@{
    ViewBag.Title = "Register";
}

@if (ViewBag.Msg != null) { 
    <h3>ViewBag.Msg</h3>
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "navbar-form navbar-left"})) {
    @Html.ValidationSummary(true)
    
    @Html.AntiForgeryToken()
   
     <div class="form-group">
    <fieldset>
        <legend>Register  user</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Login)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Login)
            @Html.ValidationMessageFor(model => model.Login)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Confirm)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Confirm)
            @Html.ValidationMessageFor(model => model.Confirm)
        </div>

        <p>
            <input type="submit" value="Register" class="btn btn-default"/>
        </p>
    </fieldset>
        </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
