﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
        
            @if(Request.IsAuthenticated){
                <li>@Html.ActionLink("My Draws", "Draws", "User")</li>
                <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                    
                
            }
                else{
                    <li>@Html.ActionLink("Login", "Login", "Account")</li>
                    <li>@Html.ActionLink("Register", "Register", "Account")</li>
            }
        </ul>
        @if(Request.IsAuthenticated){
            <button style="display:inline-block;" data-bind="click: CreateDraw" class="btn btn-default">Create drawing </button>
        }
    </nav>
    @RenderBody()



    
    <script src="/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
