﻿@{
    ViewBag.Title = "Draws";
}

@Styles.Render("~/Content/userdraws")

<h2>Draws</h2>
<select data-bind="options:draws, value: selectedDraw, optionsCaption: 'Choose draw' " > </select>
<canvas id="canv" width="800" height="800">

</canvas>

<div>
    <button class="myButt" id="edit"  data-bind="click: EditDraw, enable: selectedDraw() != undefined">Edit</button><br />
    <button class="myButt" id="delete" data-bind="click: DeleteDraw, enable: selectedDraw() != undefined">Delete</button>
</div>

@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/jquery")
<script data-main="/Scripts/MyScripts/DrawsViewModel" src="/Scripts/MyScripts/require.js"></script>