﻿* {
    margin: 0;
    padding: 0;
}

html, body {
    width:100%;
}

.canv {
    display: inline-block;
    width:800px;
    height:800px;
    float:left;
    margin-right:20px;
}

.tools button {
    width:30px;
    height:30px;
    margin:5px;
    margin-top:12px;
}
canvas {
    display:inline;
    position:absolute;  
    border: 1px solid black;
    margin-left:20px;

}

.properties {
    display:inline-block;
    width:15%;
    height: 90%;
    background: lightgray;
    width:200px;
    border: 1px solid gray;
    height:800px;
    margin-left:30px;
}

.wrap {
    text-align:center;
    margin-bottom:30px;
}
.tools {
    width:90%;
    border: 1px solid gray;
    height:60px;
    background:lightgray;
    display:inline-block;
    text-align:center;
}

.container {
    width:100%;
    height:100%;
}

.prop {
    border-bottom:1px solid black;
    /*display:none;*/
    padding-left:5px;   
    padding-top: 5px;
    padding-right: 5px;
}
.properties div button, .prop div input[type='button']{
    width:20px;
    height: 20px;

}
.prop div div input[type='button'] {
    float:right;    
}

#dialog {
    display:none;
}

.prop div div {
    padding-left:3px;
    margin-top:2px;
    margin-bottom:2px;
}

.prop {
    padding-top:10px;
    padding-bottom:10px;
}

.prop input[type='radio'] {
    margin-top:5px;
    margin-left:10px;
}
label {
    margin-left: 5px;
}

.btn-default {
    margin-top:5px;
    display:block;
}

